.game {
  display: flex;
  flex-direction: row;
  margin: 30px;
  padding: 30px;
}

.game-info {
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
}

li {
  list-style-type: none;
  margin-left: -40px;
  padding-bottom: 1px;
}

.square {
  background: white;
  border: 1px solid black;
  height: 60px;
  width: 60px;
  margin-right: -1px;
  margin-top: -1px;
  border-spacing: 20px;
  float: left;
  font-weight: bold;
  font-size: 40px;
}

.square:focus {
  outline: none;
}